h1{
  font-size: 1.8rem;
  margin-bottom: 25px;
  text-align: center;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 25px;
  text-align: center;
}

.music {
  display: none;
}

.music iframe {
  width: 100%;
}

tr:hover{
  background-color: #32e272;
  cursor: pointer;
}

button {
  cursor: pointer;
  margin-left: 800px;
}

iframe {
  height: 315px;
  margin-left: 400px;
  width: 560px;
}
