h1 {
  font-size: 1.8rem;
  margin-bottom: 25px;
}

.movie { display: none; }

.movie iframe {
  width: 100%;
}

iframe {
  display: block;
}

.music{
  display: none;
}

tr:hover{
  background-color: #32e272;
}
